include *.txt *.rst LICENSE tox.ini .coveragerc docs/Makefile
recursive-include tests *.py
recursive-include docs *.ico
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
prune docs/_build
